:root {
    --m-height: 400px;
    --m-width : 600px;
}
* {
    box-sizing: border-box
}
body {
    background-color: gray;
}
#content {
    width: var(--m-width);
    height: var(--m-height);
    margin: 100px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 340px 250px;
    grid-template-rows: 95px 297px 20px;
}
#slogan {
    grid-row: 1 / 3;
}
img, #sign-in, #sign-up {
    border: 1px solid black;
    background-color: white;
}
#sign-in {
    padding: 5px 0;
    display: block;
}
.mix {
    padding-bottom: 7px;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}
input {
    width: 50%;
    float: right;
}
select {
    width: 53%;
    float: right;
}
form button {
    float: right;
}

.error {
    display: none;
    grid-row: 3 / 3;
    grid-column: 1 / 3;
    margin: auto;
    background-color: white;
    padding: 5px;
}
/* ----------------------------------------- */

.tab {
    background-color: #f1f1f1;
    width: 30%;
    float: left;
    position: fixed;
}
  
.tab button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px;
}

.tab button.active, .tab button:hover {
    background-color: #ccc;
}

.tabcontent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 70%;
    float: right;
    
}

.tabcontent .postData {
    margin-left: 5%;
    border-right: 1px solid #ccc;
    padding-right: 5%;
    width: 50%;
}
.postData {

    display: none;
}
textarea {
    width: 100%;
}

.tabcontent .postData form button {
    float: none;
}

.posts p {
    overflow-wrap: break-word;
}

.error {
    padding: 2%;
    background: #ccc;
    color: rgb(192, 43, 43);
    display: none;
}

#browser, #account {
    display: none;
}

.form {
    flex-basis: 100%;
    margin-bottom: 2%;
    width: 100%;
    padding-left: 2%;
}

.post, .test {
    flex-grow: 1;
}

canvas {
  pointer-events: none;
  display: block;
  margin: auto;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}